div{
  background-image: url(animal1.png);
  width: 200px;
  height: 200px;
  border: 50px dashed gray;
  margin: 50px auto;
  padding: 50px;
  border-style: dashed;
}
.css1{
  background-clip: border-box;
}
.css2{
  background-clip: padding-box;
}
.css3{
  background-clip: content-box;
}